In [0]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import os,random, math
import gc

In [2]:
!pip3 install --upgrade kaggle
import os
os.environ['KAGGLE_USERNAME'] = "tedghmn" # username from the json file
os.environ['KAGGLE_KEY'] = "9c7742978732a1456c48d4405a4bd31e"


!kaggle competitions download -c ashrae-energy-prediction

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading sample_submission.csv.zip to /content
 95% 84.0M/88.4M [00:00<00:00, 81.8MB/s]
100% 88.4M/88.4M [00:00<00:00, 150MB/s]
Downloading train.csv.zip to /content
 90% 108M/120M [00:00<00:00, 112MB/s]
100% 120M/120M [00:00<00:00, 164MB/s]
Downloading test.csv.zip to /content
 87% 145M/167M [00:01<00:00, 87.7MB/s]
100% 167M/167M [00:01<00:00, 115MB/s]
Downloading weather_train.csv.zip to /content
  0% 0.00/1.27M [00:00<?, ?B/s]
100% 1.27M/1.27M [00:00<00:00, 185MB/s]
Downloading building_metadata.csv to /content
  0% 0.00/44.5k [00:00<?, ?B/s]
100% 44.5k/44.5k [00:00<00:00, 41.8MB/s]
Downloading weather_test.csv.zip to /content
  0% 0.00/2.53M [00:00<?, ?B/s]
100% 2.53M/2.53M [00:00<00:00, 169MB/s]

In [0]:
#!unzip \*.zip

In [5]:
import pandas as pd
train_df = pd.read_csv('train.csv.zip')
train_df.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            1      0  2016-01-01 00:00:00            0.0
2            2      0  2016-01-01 00:00:00            0.0
3            3      0  2016-01-01 00:00:00            0.0
4            4      0  2016-01-01 00:00:00            0.0

In [6]:
train_df.shape

(20216100, 4)

In [7]:
building_meta_df = pd.read_csv('building_metadata.csv')
building_meta_df.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

In [8]:
building_meta_df.site_id.nunique()

16

In [0]:
building_meta_df = building_meta_df.drop(columns=['year_built','floor_count'], axis=1)

In [10]:
building_meta_df.head()

   site_id  building_id primary_use  square_feet
0        0            0   Education         7432
1        0            1   Education         2720
2        0            2   Education         5376
3        0            3   Education        23685
4        0            4   Education       116607

In [11]:
print('There are', building_meta_df.primary_use.nunique(),'values for primary_use ' )

There are 16 values for primary_use

In [12]:
 building_meta_df.primary_use.value_counts()

Education                        549
Office                           279
Entertainment/public assembly    184
Public services                  156
Lodging/residential              147
Other                             25
Healthcare                        23
Parking                           22
Warehouse/storage                 13
Manufacturing/industrial          12
Retail                            11
Services                          10
Technology/science                 6
Food sales and service             5
Utility                            4
Religious worship                  3
Name: primary_use, dtype: int64

In [0]:
#replace categories with low values with 'others'
t=["Religious worship","Utility","Food sales and service","Services","Retail","Manufacturing/industrial","Warehouse/storage","Parking","Healthcare", "Technology/science","Other"]

In [0]:
building_meta_df.loc[building_meta_df.primary_use.isin(t),'primary_use'] = 'others'

In [0]:
#primary_use: categorical into numerical values
building_meta_df["primary_use"] = building_meta_df["primary_use"].astype('category')
building_meta_df["primary_use"] = building_meta_df["primary_use"].cat.codes

In [0]:
building_meta_df['primary_use'] = building_meta_df.primary_use.astype("int64")

In [17]:
building_meta_df.columns

Index(['site_id', 'building_id', 'primary_use', 'square_feet'], dtype='object')

In [18]:
building_meta_df.head()

   site_id  building_id  primary_use  square_feet
0        0            0            0         7432
1        0            1            0         2720
2        0            2            0         5376
3        0            3            0        23685
4        0            4            0       116607

In [19]:
building_meta_df.tail()

      site_id  building_id  primary_use  square_feet
1444       15         1444            1        19619
1445       15         1445            0         4298
1446       15         1446            1        11265
1447       15         1447            2        29775
1448       15         1448            3        92271

In [24]:
weather_train_df = pd.read_csv('weather_train.csv.zip')
weather_train_df.head()

   site_id            timestamp  ...  wind_direction  wind_speed
0        0  2016-01-01 00:00:00  ...             0.0         0.0
1        0  2016-01-01 01:00:00  ...            70.0         1.5
2        0  2016-01-01 02:00:00  ...             0.0         0.0
3        0  2016-01-01 03:00:00  ...             0.0         0.0
4        0  2016-01-01 04:00:00  ...           250.0         2.6

[5 rows x 9 columns]

In [25]:
print('Size of weather_train_df data', weather_train_df.shape)

Size of weather_train_df data (139773, 9)

In [26]:
weather_train_df.columns

Index(['site_id', 'timestamp', 'air_temperature', 'cloud_coverage',
       'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure',
       'wind_direction', 'wind_speed'],
      dtype='object')

In [27]:
weather_train_df.isnull().sum()

site_id                   0
timestamp                 0
air_temperature          55
cloud_coverage        69173
dew_temperature         113
precip_depth_1_hr     50289
sea_level_pressure    10618
wind_direction         6268
wind_speed              304
dtype: int64

In [0]:
weather_train_df = weather_train_df.drop(columns=['precip_depth_1_hr','wind_direction','sea_level_pressure','cloud_coverage'], axis=1)

In [0]:
weather_train_df['air_temperature'].fillna(weather_train_df['air_temperature'].mean(), inplace=True)
weather_train_df['wind_speed'].fillna(weather_train_df['wind_speed'].mean(), inplace=True)
weather_train_df['dew_temperature'].fillna(weather_train_df['dew_temperature'].mean(), inplace=True)

In [30]:
weather_train_df.head()

   site_id            timestamp  air_temperature  dew_temperature  wind_speed
0        0  2016-01-01 00:00:00             25.0             20.0         0.0
1        0  2016-01-01 01:00:00             24.4             21.1         1.5
2        0  2016-01-01 02:00:00             22.8             21.1         0.0
3        0  2016-01-01 03:00:00             21.1             20.6         0.0
4        0  2016-01-01 04:00:00             20.0             20.0         2.6

# **Concat dataFrames**

In [0]:
myData =  pd.merge(train_df,building_meta_df, on=['building_id'],sort=False)

In [0]:
myData=pd.merge(myData, weather_train_df, on=['site_id','timestamp'],sort=False)

In [33]:
myData.columns

Index(['building_id', 'meter', 'timestamp', 'meter_reading', 'site_id',
       'primary_use', 'square_feet', 'air_temperature', 'dew_temperature',
       'wind_speed'],
      dtype='object')

In [34]:
myData.head()

   building_id  meter  ... dew_temperature  wind_speed
0            0      0  ...            20.0         0.0
1            1      0  ...            20.0         0.0
2            2      0  ...            20.0         0.0
3            3      0  ...            20.0         0.0
4            4      0  ...            20.0         0.0

[5 rows x 10 columns]

In [0]:
myData["month"] = myData["timestamp"].map(lambda row: row.split(" ")[0].split("-")[1])
myData["day"] = myData["timestamp"].map(lambda row: row.split(" ")[0].split("-")[2])



myData['month'] = pd.to_numeric(myData.month, errors='coerce')

myData['day'] = pd.to_numeric(myData.month, errors='coerce')

In [0]:
myData = myData.drop(columns=[ 'timestamp','site_id'], axis=1)

In [37]:
myData.columns

Index(['building_id', 'meter', 'meter_reading', 'primary_use', 'square_feet',
       'air_temperature', 'dew_temperature', 'wind_speed', 'month', 'day'],
      dtype='object')

In [38]:
myData.head()

   building_id  meter  meter_reading  ...  wind_speed  month  day
0            0      0            0.0  ...         0.0      1    1
1            1      0            0.0  ...         0.0      1    1
2            2      0            0.0  ...         0.0      1    1
3            3      0            0.0  ...         0.0      1    1
4            4      0            0.0  ...         0.0      1    1

[5 rows x 10 columns]

# *Split myData into TrainDF and TestDF*

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
trainDF,testdf = train_test_split(myData, test_size=0.2, random_state=45)

In [41]:
trainDF.head()

          building_id  meter  meter_reading  ...  wind_speed  month  day
9606115           835      0        43.4167  ...         4.1     12   12
184779             78      1      1392.9400  ...         4.1      3    3
10846520          955      2       311.1000  ...         2.6      6    6
14979167         1139      1      1847.2600  ...         2.6      9    9
1075753            97      1      1055.2600  ...         0.0     12   12

[5 rows x 10 columns]

In [42]:
testdf.head()

          building_id  meter  meter_reading  ...  wind_speed  month  day
12149165          959      1       266.9990  ...         0.0     12   12
7366675           728      0         5.3000  ...         8.2      2    2
16841290         1299      2       333.5230  ...         2.1      5    5
1246907           125      0       134.9000  ...         4.1      4    4
19061602         1358      1        36.6751  ...         4.1      6    6

[5 rows x 10 columns]

**Split into x_train and y_train**

In [0]:
x_train = trainDF[['meter', 'building_id', 'primary_use', 'month', 'day','air_temperature','dew_temperature', 'wind_speed','square_feet']]
y_train = trainDF['meter_reading']

In [44]:
print('Size of x_train data', x_train.shape)
print('Size of y_train data', y_train.shape)

Size of x_train data (16100484, 9)
Size of y_train data (16100484,)

In [45]:
x_train .head()

          meter  building_id  ...  wind_speed  square_feet
9606115       0          835  ...         4.1        17220
184779        1           78  ...         4.1        76257
10846520      2          955  ...         2.6       198488
14979167      1         1139  ...         2.6       336650
1075753       1           97  ...         0.0       187647

[5 rows x 9 columns]

In [46]:
y_train .head()

9606115       43.4167
184779      1392.9400
10846520     311.1000
14979167    1847.2600
1075753     1055.2600
Name: meter_reading, dtype: float64

In [0]:
x_test = testdf[['meter', 'building_id', 'primary_use', 'month', 'day','air_temperature','dew_temperature', 'wind_speed','square_feet']]
y_test = testdf['meter_reading']

In [48]:
print('Size of x_test data', x_test.shape)
print('Size of y_test data', y_test.shape)

Size of x_test data (4025121, 9)
Size of y_test data (4025121,)

In [49]:
x_test.head()

          meter  building_id  ...  wind_speed  square_feet
12149165      1          959  ...         0.0       128536
7366675       0          728  ...         8.2        30300
16841290      2         1299  ...         2.1        25401
1246907       0          125  ...         4.1        16802
19061602      1         1358  ...         4.1        61439

[5 rows x 9 columns]

In [50]:
y_test.head()

12149165    266.9990
7366675       5.3000
16841290    333.5230
1246907     134.9000
19061602     36.6751
Name: meter_reading, dtype: float64

In [0]:
# Store data into a pickle file to use in the modeling phase
import pickle
with open('clean_data.pickle', 'wb') as f:
    pickle.dump([x_train, y_train, x_test,y_test], f)

# **Setting the model**

Load the pickle file

In [0]:
import pickle
with open('clean_data.pickle', 'rb') as f:
    [x_train,y_train, x_test, y_test] = pickle.load(f)

In [53]:
print('Size of x_train data', x_train.shape)
print('Size of y_train data', y_train.shape)
print('Size of x_test data', x_test.shape)
print('Size of y_test data', y_test.shape)

Size of x_train data (16100484, 9)
Size of y_train data (16100484,)
Size of x_test data (4025121, 9)
Size of y_test data (4025121,)

In [54]:
from sklearn import preprocessing
from keras import backend as K
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras.layers import Dense, LSTM, GRU, Dropout, BatchNormalization
from keras.models import Sequential
from keras.optimizers import RMSprop,Adam
from keras import regularizers

Using TensorFlow backend.

In [0]:
#RMSE Error
def root_mean_squared_error(y_true, y_pred):
  return K.sqrt(K.mean(K.square(y_pred - y_true)))

In [56]:
model = Sequential()


model.add(Dense(500, input_dim=9, activation= "relu"))
model.add(Dropout(0.2))

model.add(Dense(100, activation= "relu"))
model.add(Dropout(0.2))

model.add(Dense(50, activation= "relu"))
model.add(Dense(1))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [57]:
def root_mean_squared_error(y_true, y_pred):
  return K.sqrt(K.mean(K.square(y_pred - y_true)))

metrics = root_mean_squared_error
model.compile(loss='mse', optimizer="rmsprop" ,metrics=[metrics])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [0]:
y_train = np.log1p(y_train)

In [0]:
es = EarlyStopping(monitor='val_loss', min_delta=0.0001, patience=5, verbose=True, mode='auto')

In [0]:
y_train.head()

In [0]:
#assert not np.any(np.isnan(x))

In [62]:
model.fit(x_train,y_train,epochs=30,batch_size=500,verbose=1,validation_data=(x_test, y_test),callbacks=[es])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 16100484 samples, validate on 4025121 samples
Epoch 1/30
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

16100484/16100484 [==============================] - 304s 19us/step - loss: 17424.1204 - root_mean_squared_error: 6.8059 - val_loss: 23225920579.5007 - val_root_mean_squared_error: 38327.6103
Epoch 2/30
16100484/16100484 [==============================] - 308s 19us/step - loss: 6.1981 - root_mean_squared_error: 2.1664 - val_loss: 23225920114.8597 - val_root_mean_squared_error: 38327.5731
Epoch 3/30
16100484/16100484 [==============================] - 315s 20us/step - loss: 4.7712 - root_mean_squared_error: 2.0849 - val_loss: 23225922821.7647 - val_root_mean_squared_error: 38327.7536
Epoch 4/30
16100484/16100484 [==============================] - 315s 20us/step - loss: 3.7990 - root_mean_squared_error: 1.9443 - val_loss: 23225913438.3105 - val_root_mean_squared_error: 38327.4060
Epoch 5/30
16100484/16100484 [==============================] - 310s 19us/step - loss: 3.7624 - root_mean_squared_error: 1.9263 - val_loss: 23225918190.4404 - val_root_mean_squared_error: 38327.5507
Epoch 6/30
16100484/16100484 [==============================] - 314s 20us/step - loss: 4.0989 - root_mean_squared_error: 1.9466 - val_loss: 23225915560.6082 - val_root_mean_squared_error: 38327.5013
Epoch 7/30
10426500/16100484 [==================>...........] - ETA: 1:44 - loss: 3.7420 - root_mean_squared_error: 1.9201

KeyboardInterrupt: ignored

In [0]:
from keras.models import load_model
model.save('model1.h5')  # creates a HDF5 file 'my_model.h5'

In [0]:
model.load_weights("model1.h5")

In [0]:
y_test = np.log1p(y_test)

In [67]:
y_predicted= model.predict(x_test ,batch_size=1024, verbose=1)

4025121/4025121 [==============================] - 11s 3us/step

In [68]:
y_predicted[5555]

array([3.7734427], dtype=float32)

In [0]:
y_test = np.log1p(y_test)

In [0]:
from sklearn.metrics import mean_squared_error

In [71]:
print(np.sqrt(mean_squared_error(y_test,y_predicted)))

2.7999862717616635

# **Evaluating the model with testdata**

In [73]:
test_main = pd.read_csv ('test.csv.zip', compression='zip')
test_main.shape

(41697600, 4)

In [0]:
buildings_test = pd.read_csv ('building_metadata.csv' )

buildings_test = buildings_test.drop(columns=['year_built','floor_count'], axis=1)

l=["Religious worship","Utility","Food sales and service","Technology/science","Services","Retail","Manufacturing/industrial","Warehouse/storage","Parking","Healthcare","Other"]
buildings_test.loc[buildings_test.primary_use.isin(l),'primary_use'] = 'others'

buildings_test["primary_use"] = buildings_test["primary_use"].astype('category')
buildings_test["primary_use"] = buildings_test["primary_use"].cat.codes

In [0]:
weather_test=pd.read_csv('weather_test.csv.zip', compression='zip')

In [0]:
weather_test=pd.read_csv('weather_test.csv.zip', compression='zip')
weather_test.shape
weather_test = weather_test.drop(columns=['precip_depth_1_hr','wind_direction','sea_level_pressure','cloud_coverage'], axis=1)


weather_test['wind_speed'].fillna(weather_test['wind_speed'].mean(), inplace=True)
weather_test['air_temperature'].fillna(weather_test['air_temperature'].mean(), inplace=True)
weather_test['dew_temperature'].fillna(weather_test['dew_temperature'].mean(), inplace=True)

In [0]:
data_test =  pd.merge(test_main,buildings_test, on=['building_id'],sort=False)

In [0]:
data_test = data_test.merge(weather_test,left_on=['site_id','timestamp'],right_on=['site_id','timestamp'],how='left')

In [0]:
data_test["month"] = data_test["timestamp"].map(lambda row: row.split(" ")[0].split("-")[1])
data_test["day"] = data_test["timestamp"].map(lambda row: row.split(" ")[0].split("-")[2])
#data_test["time"] = data_test["timestamp"].map(lambda row: row.split(" ")[1].split(":")[0])

data_test['month'] = pd.to_numeric(data_test.month, errors='coerce')
#data_test['time'] = pd.to_numeric(data_test.time, errors='coerce')
data_test['day'] = pd.to_numeric(data_test.month, errors='coerce')

In [80]:
data_test.head()

   row_id  building_id  meter  ... wind_speed  month  day
0       0            0      0  ...        3.6      1    1
1     129            0      0  ...        3.1      1    1
2     258            0      0  ...        3.1      1    1
3     387            0      0  ...        3.1      1    1
4     516            0      0  ...        2.6      1    1

[5 rows x 12 columns]

In [0]:
data_test = data_test.drop(columns=[ 'row_id','timestamp','site_id'], axis=1)

In [82]:
predicted=model.predict(data_test, batch_size=1024, verbose=1)

41697600/41697600 [==============================] - 105s 3us/step

Submission

In [0]:
ids = data_test.row_id

In [84]:
len(predicted)

41697600

In [85]:
predicted[5599995]

array([3.784529], dtype=float32)

In [0]:
submit = pd.read_csv('sample_submission.csv.zip', compression='zip')
predicted = np.expm1(predicted)

In [0]:
submit['meter_reading'] = predicted

In [0]:
export_csv = submit.to_csv('./my-submission.csv', index=False)

In [89]:
submit.head()

   row_id  meter_reading
0       0      43.014935
1       1      43.014935
2       2      43.014935
3       3      43.014935
4       4      43.014935